<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.greenart.security.mapper.ApiMapper">
    <insert id="insStrf">
        <foreach collection="dtoList" item="item" separator=";">
                INSERT INTO stay_tour_restaur_fest
                (category, title, lat, lng, address, location_id, post, tell,
                <if test="item.startAt || item.endAt">
                    start_at, end_at,
                </if>
                `open`, `close`, rest_date, `explain`, detail, busi_num)
                VALUES
                (#{item.category}, #{item.title}, #{item.lat}, #{item.lng}, #{item.address}, #{item.locationId}, #{item.post}, #{item.tell},
                <if test="item.startAt || item.endAt">
                    #{item.startAt}, #{item.endAt},
                </if>
                #{item.open}, #{item.close}, #{item.restDate}, #{item.explain}, #{item.detail}, #{item.busiNum})
        </foreach>
    </insert>

    <insert id="insBusiNum">
        INSERT INTO business_num
        (busi_num, user_id)
        VALUES
        <foreach collection="dtoList" item="item" separator=",">
            (#{item.busiNum}, #{item.userId})
        </foreach>
    </insert>
</mapper>